/* ############ GENERAL ############ */
*{
  margin : 0;
  padding: 0;
}

:root {
    --white: #fefefe;
    --red: #fe0000;
    --dark-red: #b80000;
    --beige: #efcf86;
    --light-blue: #038dfb;
    --brown: #490900;
    --black: #000000;
}

body{
  width:100%;
  height: 100vh;
  background-image: url("/profile/images/background.png");
  background-size: cover;
  margin-top: 0;
  cursor: url(/profile/cursor/pngegg.cur),auto;
}


div{
  width: 800px;
  text-align: center;
  margin: 100px auto;
  border-radius: 1em;
  margin-top: 40px;
}
.card{
  /* box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0,0,0,0); */
  box-shadow: 0px 0px 0px 3px rgba(148,0,211,1),
0px 0px 0px 6px rgba(75,0,130,1),
0px 0px 0px 9px rgba(0,0,255,1),
0px 0px 0px 12px rgba(0,255,0,1),
0px 0px 0px 15px rgba(255,255,0,1),
0px 0px 0px 18px rgba(255,127,0,1),
0px 0px 24px 21px rgba(255,0,0,1);
}

h1{
  font-family: 'New Super Mario Font U', sans-serif;
  padding-bottom: 20px;
  font-size: 4rem;
}

img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

p{
  font-size: 1.5em;
  padding: 15px;
}


/* button */

button{
  content: "discover";
  margin: 25px;
  padding: 0.5em;
  border-radius: 5%;
  background-color: #ffed2c;
  font-family: 'New Super Mario Font U', sans-serif;
  font-size: 25px;
}

button:hover{
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 3px rgba(148,0,211,1),
  0px 0px 0px 6px rgba(75,0,130,0.2),
  0px 0px 0px 9px rgba(0,0,255,0.2),
  0px 0px 0px 12px rgba(0,255,0,0.2),
  0px 0px 0px 15px rgba(255,255,0.2),
  0px 0px 0px 18px rgba(255,127,0.2),
  0px 0px 24px 21px rgba(255,0,0,0.2);
}


p {
  font-family: 'Source Code Pro', monospace;
}

/* ############## INTRO ################# */

.intro{
  background-color: var(--light-blue) ;
  color: var(--dark-red);
}

/* ####### LINK ########### */

.link{
  background-color: var(--red);
}

h2{
  padding-top: 15px;
  font-family: 'New Super Mario Font U', sans-serif;
  font-size: 2.5em;
  color: var(--beige)

}

ul{
  padding: 20px
}

li{
  list-style: none;
  display: inline;
  margin: 15px 10px;
  font-size: 20px;
}
li a{
  color: white;
}

li a:visited{
color: white
}

i{
  font-size: 25px;
}

i:hover{
  font-size: 40px;
  transform:rotate(80deg);
  transition: all 1s ease-out;
}

button {
  animation-duration: 1s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
}

/* MEDIA QUERIES */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  div{
    width: 500px;
    text-align: center;
    margin: 100px auto;
    border-radius: 1em;
    margin-top: 40px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  div{
    width: 400px;
    text-align: center;
    margin: 100px auto;
    border-radius: 1em;
    margin-top: 40px;
  }
}
